<div class="container"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="container" fxLayout="column" fxFlex="25%">
    <div fxFlex="50%" fxFlexOrder="1">
      <app-file-browser></app-file-browser>
    </div>
    <div fxFlex="50%" fxFlexOrder="2">
      <app-preview></app-preview>
    </div>
  </div>
  <div fxFlex="50%">
    <app-img-selection></app-img-selection>
  </div>
  <div fxFlex="25%">
    <app-plugin></app-plugin>
  </div>
</div>
