#container {
  display: flex;
  position: absolute;
  flex-direction: row;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#file-browser {
  display: flex;
  resize: vertical;
  border: 1px solid;
  padding: 10px;
  min-height: 25%;
  max-height: 75%;
  overflow: auto;
}

#preview {
}

.image-selection {
  display: flex;
  max-height: 100%;
  overflow-y: auto;
}

#plugin {
  padding-left: 20px;
}
