#container {
  display: flex;
  position: absolute;
  flex-direction: row;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#left-col {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

#file-browser {
  display: flex;
  resize: vertical;
  border: 1px solid;
  padding: 10px;
  min-height: 25%;
  max-height: 75%;
  overflow: auto;
}

#preview {
}

#files {
  display: flex;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
}

#plugin {
  padding-left: 20px;
}
